*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 0px;
    font-family: "Source Sans Pro", sans-serif;
}

p {
    font-family: "Source Sans Pro", serif;
}

/* ! Navbar */

.navbar {
    line-height: 2rem;
}

.brand-logo {
    font-family: "Carattere", cursive;
    font-weight: 400;
    font-size: 2rem;
}

/* ! Hero */

.parallax {
    padding-top: 4.8rem;
    text-align: center;
    color: #fff;
}

.hero {
    background: url("../img/DSC_3343.JPG") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: rgb(55, 55, 55);
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
}
.titolo,
.sottotitolo {
    font-family: "Carattere", cursive;
    color: #fff;
    font-weight: 400;
    font-size: clamp(2rem, 1rem + 10vw, 7rem);
    text-shadow: 2px 2px 4px #000;
    line-height: 0.9;
}

#verde {
    color: #6e741e;
}

#oro {
    color: #e6f13d;
}

#di {
    transform: translate(-2rem, -0.5rem);
}

.oliva {
    position: absolute;
    right: 3vw;
    top: 25%;
}

.oliva img {
    width: 9rem;
}

.motto {
    color: #fff;
    font-family: "Caveat", serif;
    font-size: 1.5rem;
    z-index: 3;
    padding: 2rem 1rem;
}

.btn-warning {
    background-color: #e6f13d;
    border-color: #e6f13d;
    text-transform: uppercase;
    font-size: medium;
    font-weight: 700;
}

.btn-warning:hover {
    background-color: transparent;
    color: #fff;
}

.btn-group-lg > .btn,
.btn-lg {
    padding: 0.5rem 1rem;
}

.arrow {
    font-size: 2em;
    color: #fff;
    padding-top: 3rem;
}

/* ! Second */

.second {
    height: 100%;
    padding-top: 80px;
}

.second h3 {
    padding: 1rem;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.riga {
    min-height: 150px;
    margin-bottom: 30px;
}

.riga p {
    line-height: normal;
}

.fotine {
    height: 90%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    border-radius: 0.3rem;
}

.fonte,
.fonte a {
    font-size: small;
    color: #000;
}

/* ! Third Section */

.third {
    height: 50vh;
}

.luoghi {
    background: url("../img/mappa.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
}
/* ! -------------- */
/* !  Media QUERIES */
/* ! -------------- */

/* ! Smartphone */

@media (max-width: 768px) {
    .riga:nth-child(even) {
        flex-direction: column-reverse;
    }
}

@media (min-width: 576px) {
    .riga p {
        line-height: 1.8rem;
        font-size: 17px;
    }
}

@media (max-height: 450px) and (orientation: landscape) {
    .motto {
        padding: 0.5rem 0;
    }

    .titolo,
    .sottotitolo {
        line-height: 0.6;
    }

    #di {
      font-size: clamp(1rem, 1rem + 10vw, 2.5rem);

    }

    .arrow {
        padding-top: 0;
    }
}

@media (min-width: 769px) {
  .oliva {
    right: 30vw;
  }
}
